body {
    background-color: #2f4f4f;
    min-width: 1024px;
    min-height: 768px;
}

#main {
    width: 1024px;
    height: 768px;
    border: 1px solid black;
    margin: 0 auto;
	overflow: hidden;
    padding: 5px;
    background-color: #708090;
}

#navigation {
    height: 45px;
}

#header {
    height: 106px;
    border: 1px solid black;
    background-color: #d3d3d3;
    margin: 5px;
}

#progress {
    float: left;
    left: 5px;
    position: relative;
    top: 2px;
    width: 777px;
}

#back-button {
    float: left;
}

#next-button {
    float: right;
}

#timer {
    width: 150px;
    float: right;
    height: 100%;
    line-height: 100px;
    font-size: xx-large;
    text-align: center;
}

#title {
    text-align: center;
    font-size: xx-large;
    float: left;
    width: 862px;
    height: 100%;
    line-height: 100px;
}

.spacer {
    height: 10px;
}

.big-spacer {
    height: 50px;
}

#main-content {
    text-align: center;
    height: 598px;
    padding:  5px;
}

#main-content {
    font-size: x-large;
}

#main-content em {
    font-weight: bolder;
}

#main-content ul {
    text-align: left;
}

.content-panel {
    border: 1px solid black;
    height: 95%;
    padding:  5px;
    background-color: #d3d3d3;
}

#page-2-content {
    vertical-align: middle;
}

#page-4-content iframe {
    width: 100%;
    height: 100%;
}