body {
    background-color: #708090;
    min-width: 1024px;
    min-height: 768px;
}

#main {
    width: 1024px;
    height: 768px;
    border: 1px solid black;
    margin: 0 auto;
	overflow: hidden;
    padding: 5px;
    background-color: #778899;
}

#navigation {
    height: 45px;
}

#header {
    height: 106px;
    border-bottom: 1px solid black;
}

#progress {
    float: left;
    left: 5px;
    position: relative;
    top: 2px;
    width: 777px;
}

#progress-bar {

}

#back-button {
    float: left;
}

#next-button {
    float: right;
}

#status {
    display: inline-block;
    width: 100px;
}

#spacer {
    height: 10px;
}

#title {
    text-align: center;
    font-size: xx-large;
}

#main-content {
    text-align: center;
    height: 598px;
    padding:  5px;
}

#main-content p {
    font-size: x-large;
}