<script id="page-3" title="Why would you want to do this??" type="text/haml-template">
%ul
  %li More powerful computers allow more powerful javascript
    %ul
      %li Linux inna browser
      %li Archade ROM emulator
      %li Coffeescript compiler
</script>

<script id="page-3-1" type="text/haml-template">
%ul
  %li More powerful computers allow more powerful javascript
    %ul
      %li Linux inna browser
      %li Archade ROM emulator
      %li Coffeescript compiler
  %li Working with model objects and events is a plus, models are really light-weight
</script>

<script id="page-3-2" type="text/haml-template">
%ul
  %li More powerful computers allow more powerful javascript
    %ul
      %li Linux inna browser
      %li Archade ROM emulator
      %li Coffeescript compiler
  %li Working with model objects and events is a plus, models are really light-weight
  %li Dividing a page up into a number of view objects helps with decoupling and re-use
</script>

<script id="page-3-3" type="text/haml-template">
%ul
  %li More powerful computers allow more powerful javascript
    %ul
      %li Linux inna browser
      %li Archade ROM emulator
      %li Coffeescript compiler
  %li Working with model objects and events is a plus, models are really light-weight
  %li Dividing a page up into a number of view objects helps with decoupling and re-use
  %li Stateful interface (bookmarkable, hash-bangs).
</script>

<script id="page-3-4" type="text/haml-template">
%ul
  %li More powerful computers allow more powerful javascript
    %ul
      %li Linux inna browser
      %li Archade ROM emulator
      %li Coffeescript compiler
  %li Working with model objects and events is a plus, models are really light-weight
  %li Dividing a page up into a number of view objects helps with decoupling and re-use
  %li Stateful interface (bookmarkable, hash-bangs).
  %li Supports JQuery with scoped JQuery function for the view
</script>
