<script id="page-3" title="Page 3 - WTF??" type="text/haml-template">
%h1 Why would you want to do this??
</script>
<script id="page-3-1" title="Page 3 - WTF??" type="text/haml-template">
%h1 Why would you want to do this??
%ul
  %li More powerful computers allow more powerful javascript
    %ul
      %li Linux inna browser
      %li Archade ROM emulator
</script>

<script id="page-3-2" title="Page 3 - WTF??" type="text/haml-template">
%h1 Why would you want to do this??
%ul
  %li More powerful computers allow more powerful javascript
    %ul
      %li Linux inna browser
      %li Archade ROM emulator
  %li Working with model objects and events is a plus
</script>

<script id="page-3-3" title="Page 3 - WTF??" type="text/haml-template">
%h1 Why would you want to do this??
%ul
  %li More powerful computers allow more powerful javascript
    %ul
      %li Linux inna browser
      %li Archade ROM emulator
  %li Working with model objects and events is a plus
  %li Dividing a page up into a number of view objects helps with decoupling
</script>