<script id="page-4" title="Page 4 - Size comparison" type="text/haml-template">
%ul
  %li Cappuccino hello world: 2.73MB / 334 reqs
  %li Sproutcore hello world: 65k of js
  %li JQuery: 29kb
  %li Backbone: 3.9kb
  %li Underscore: 3.3kb
</script>

