<script id="page-5" title="Page 5 - More examples of Backbone.js usage" type="text/haml-template">
%h3 DocumentCloud
%img(src="images/dc-workspace.png")
</script>

<script id="page-5-1" type="text/haml-template">
%h3 CloudApp is simple file and link sharing for the Mac
%img(src="images/cloudapp.png")
</script>

<script id="page-5-2" type="text/haml-template">
%h3  Flow - a task management app for teams
%img(src="images/flow.png")
</script>

<script id="page-5-3" type="text/haml-template">
%h3 Menagerie Whiteboard  - a digital "whiteboard" for veterinary practices
%img(src="images/menagerievet.png")
</script>