<script id="page-9" title="Backbone Views" type="text/haml-template">
%pre(class="sh_javascript")
  !  window.Todo = Backbone.Model.extend({
  !
  !   EMPTY: "empty todo...",
  !
  !   initialize: function() {
  !     if (!this.get("content")) {
  !       this.set({"content": this.EMPTY});
  !     }
  !   },
  !
  !   toggle: function() {
  !     this.save({done: !this.get("done")});
  !   },
  !
  !   clear: function() {
  !     this.destroy();
  !     this.view.remove();
  !   }
  !
  !  });
%script(type="text/javascript")
  sh_highlightDocument();
</script>

<script id="page-9-1" type="text/haml-template">
%pre(class="sh_javascript")
  !ns.Upgrade = Backbone.Model.extend({
  !
  !  listing : null,
  !
  !  initialize: function (options) {
  !    if (!options.listing) {
  !      throw 'Listing is required';
  !    }
  !    this.listing = options.listing;
  !  },
  !
  !  url : function () {
  !    return '/agentdesktop/listings/' + this.listing.get('id') + '/upgrades';
  !  },
  !
  !  toJSON : function () {
  !    return {
  !      duration : this.get('duration') || null,
  !      price : this.get('price') || null,
  !      name : this.get('name') || null,
  !      description : this.get('description') || null
  !    };
  !  }
  !});
%script(type="text/javascript")
  sh_highlightDocument();
</script>

<script id="page-9-2" type="text/haml-template">
%pre(class="sh_javascript")
  !var listing = new ns.Listing({id: 10001});
  !var upgrade = new ns.Upgrade({ listing: currentListing });
  !
  !upgrade.fetch();
  !
  !upgrade.set({value: "120"});
  !
  !upgrade.save();
%script(type="text/javascript")
  sh_highlightDocument();
</script>