<script id="page-1" title="Page 1 - What is backbone?" type="text/haml-template">
%p
  Backbone supplies structure to JavaScript-heavy applications by providing models with key-value binding and custom
  events, collections with a rich API of enumerable functions, views with declarative event handling, and connects it
  all to your existing application over a RESTful JSON interface.
</script>