<script id="page-1" title="Page 1 - What is backbone?" type="text/haml-template">
%p
  From Backbone.js:
  %cite
    "Backbone supplies structure to JavaScript-heavy applications by providing models with key-value binding and custom
    events, collections with a rich API of enumerable functions, views with declarative event handling, and connects it
    all to your existing application over a RESTful JSON interface."
</script>

<script id="page-1-1" type="text/haml-template">
%p
  From Backbone.js:
  %cite
    "Backbone supplies structure to JavaScript-heavy applications by providing
    %em models
    with key-value binding and custom events,
    %em collections
    with a rich API of enumerable functions,
    %em views
    with declarative event handling, and connects it  all to your existing application over a
    %em RESTful JSON
    interface."
</script>

<script id="page-1-2" type="text/haml-template">
%p
  From Backbone.js:
  %cite
    "Backbone supplies structure to JavaScript-heavy applications by providing
    %em models
    with key-value binding and custom events,
    %em collections
    with a rich API of enumerable functions,
    %em views
    with declarative event handling, and connects it  all to your existing application over a
    %em RESTful JSON
    interface."
%p
  %ul
    %li Models
    %li Collections
    %li Views
    %li RESTful JSON
%p
  %ul
    %li Controllers
</script>