<script id="page-3" title="Page 3 - WTF??" type="text/haml-template">
%h1 Why would you want to do this??
</script>
<script id="page-3-1" title="Page 3 - WTF??" type="text/haml-template">
%h1 Why would you want to do this??
%ul
  %li More powerful computers allow more powerful javascript
    %ul
      %li Linux inna browser
      %li Archade ROM emulator
</script>

<script id="page-3-2" title="Page 3 - WTF??" type="text/haml-template">
%h1 Why would you want to do this??
%ul
  %li More powerful computers allow more powerful javascript
    %ul
      %li Linux inna browser
      %li Archade ROM emulator
  %li Working with model objects and events is a plus
</script>

<script id="page-3-3" title="WTF??" type="text/haml-template">
%h1 Why would you want to do this??
%ul
  %li More powerful computers allow more powerful javascript
    %ul
      %li Linux inna browser
      %li Archade ROM emulator
  %li Working with model objects and events is a plus, models are really light-weight
  %li Dividing a page up into a number of view objects helps with decoupling and re-use
</script>

<script id="page-3-4" title="Page 3 - WTF??" type="text/haml-template">
%h1 Why would you want to do this??
%ul
  %li More powerful computers allow more powerful javascript
    %ul
      %li Linux inna browser
      %li Archade ROM emulator
  %li Working with model objects and events is a plus, models are really light-weight
  %li Dividing a page up into a number of view objects helps with decoupling and re-use
  %li Stateful interface (bookmarkable, hash-bangs).
</script>

<script id="page-3-5" title="Page 3 - WTF??" type="text/haml-template">
%h1 Why would you want to do this??
%ul
  %li More powerful computers allow more powerful javascript
    %ul
      %li Linux inna browser
      %li Archade ROM emulator
  %li Working with model objects and events is a plus, models are really light-weight
  %li Dividing a page up into a number of view objects helps with decoupling and re-use
  %li Stateful interface (bookmarkable, hash-bangs).
  %li Supports JQuery with scoped JQuery function for the view
</script>

<script id="page-3-6" title="Page 3 - WTF??" type="text/haml-template">
%h1 Why would you want to do this??
%ul
  %li More powerful computers allow more powerful javascript
    %ul
      %li Linux inna browser
      %li Archade ROM emulator
  %li Working with model objects and events is a plus, models are really light-weight
  %li Dividing a page up into a number of view objects helps with decoupling and re-use
  %li Stateful interface (bookmarkable, hash-bangs).
  %li Supports JQuery with scoped JQuery function for the view
  %li Backbone is quite small (1000 lines), and extends underscore.js (800 lines)
</script>