<script id="page-11" title="Backbone Controllers" type="text/haml-template">
%pre(class="sh_javascript")
  !function forListing(render, id) {
  !  var listing = typeof(id) === 'undefined' ? new Listing() : new Listing({id : id});
  !  listing.fetch({
  !    success : function () {
  !      render(listing);
  !    },
  !    error : function (model, response) {
  !      throw 'Could not find the listing: ' + listing.id;
  !    }
  !  });
  !}
  !
  !ns.ListingsController = Backbone.Controller.extend({
  !
  !  routes: {
  !    "listings/:id/edit"                  : "listingDetailsEdit",
  !    "listings/:id/edit/listing_details"  : "listingDetailsEdit",
  !    "listings/:id/edit/property_details" : "propertyDetailsEdit",
  !    "listings/:id/edit/images_and_copy"  : "imagesAndCopyEdit",
  !    "listings/:id/edit/campaign"         : "campaignEdit",
  !    "listings/new"                       : "listingDetailsNew"
  !  },
  !
  !  listingDetailsEdit: function (id) {
  !    forListing(function (listing) {
%script(type="text/javascript")
  sh_highlightDocument();
</script>

<script id="page-11-1" type="text/haml-template">
%pre(class="sh_javascript")
  !ns.ListingsController = Backbone.Controller.extend({
  !
  !  routes: {
  !    "listings/:id/edit"                  : "listingDetailsEdit",
  !    "listings/:id/edit/listing_details"  : "listingDetailsEdit",
  !    "listings/:id/edit/property_details" : "propertyDetailsEdit",
  !    "listings/:id/edit/images_and_copy"  : "imagesAndCopyEdit",
  !    "listings/:id/edit/campaign"         : "campaignEdit",
  !    "listings/new"                       : "listingDetailsNew"
  !  },
  !
  !  listingDetailsEdit: function (id) {
  !    forListing(function (listing) {
  !      new ListingDetailsView({model: listing}).render();
  !    }, id);
  !  },
  !
  !  propertyDetailsEdit: function (id) {
  !    forListing(function (listing) {
  !      new PropertyDetailsView({model: listing}).render();
  !    }, id);
  !  },
%script(type="text/javascript")
  sh_highlightDocument();
</script>