<script id="page-7" title="Things I don't like" type="text/haml-template">
%ul
  %li Awesome when there is a repeated pattern, but handling complex forms suck
</script>

<script id="page-7-1" type="text/haml-template">
%ul
  %li Awesome when there is a repeated pattern, but handling complex forms suck
  %li View templates (esp JST) are my pet hate
</script>

<script id="page-7-2" type="text/haml-template">
%ul
  %li Awesome when there is a repeated pattern, but handling complex forms suck
  %li View templates (esp JST) are my pet hate
  %li Only supports simple models, nested models requires work arounds
</script>

<script id="page-7-3" type="text/haml-template">
%ul
  %li Awesome when there is a repeated pattern, but handling complex forms suck
  %li View templates (esp JST) are my pet hate
  %li Only supports simple models, nested models requires work arounds
  %li You now have 6 layers to your app
</script>

<script id="page-7-4" type="text/haml-template">
%ul
  %li Awesome when there is a repeated pattern, but handling complex forms suck
  %li View templates (esp JST) are my pet hate
  %li Only supports simple models, nested models requires work arounds
  %li You now have 6 layers to your app
  %li Testing is an issue (even with Jasmine)
</script>

<script id="page-7-5" type="text/haml-template">
%ul
  %li Awesome when there is a repeated pattern, but handling complex forms suck
  %li View templates (esp JST) are my pet hate
  %li Only supports simple models, nested models requires work arounds
  %li You now have 6 layers to your app
  %li Testing is an issue (even with Jasmine)
  %li IE does strange things with anchors
</script>

<script id="page-7-6" type="text/haml-template">
%ul
  %li Awesome when there is a repeated pattern, but handling complex forms suck
  %li View templates (esp JST) are my pet hate
  %li Only supports simple models, nested models requires work arounds
  %li You now have 6 layers to your app
  %li Testing is an issue (even with Jasmine)
  %li IE does strange things with anchors
  %li Rails is now only a container for models, and you lose the use of all the view helpers
</script>

<script id="page-7-7" type="text/haml-template">
%ul
  %li Awesome when there is a repeated pattern, but handling complex forms suck
  %li View templates (esp JST) are my pet hate
  %li Only supports simple models, nested models requires work arounds
  %li You now have 6 layers to your app
  %li Testing is an issue (even with Jasmine)
  %li IE does strange things with anchors
  %li Rails is now only a container for models, and you lose the use of all the view helpers
  %li No link_to utility, you have to build the URLs yourself
</script>